:root {
    --primery-background-color: #f5f5f5;
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #ff0000;
    --pimery-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--primery-background-color);
    font-family: var(--pimery-font-family);
}

/* HEADER */

header {
    background-color: #ffffff;
}

.logo {
    text-decoration: none;
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.first {
    color: #2196F3;
}

.last {
    color: #000000;
}

ul {
    list-style: none;
}

.nav-link {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.link.current {
    text-decoration: none;
    color: #2196F3;
}

.link.current:hover,
.link.current:focus {
    color: var(--accent-color);
}

.link-header-mail {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.link-header-tel {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

}

.link-header-mail:hover,
.link-header-mail:focus {
    color: var(--accent-color);
}

.link-header-tel:hover,
.link-header-tel:focus {
    color: var(--accent-color);
}

/* HERO */

.hero {
    background-color: #27303a;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.hero h1 {
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.request {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.request:hover,
.request:focus {
    color: var(--accent-color);
    background: #ffa500;
}

/* SECTION OUR ADVANTAGES */

.advantages-tittle {
    visibility: hidden;
}

.advantages>h3 {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.advantages p {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* SECTION OUR WORK */

.our-work h2 {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.our-work img {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    background: url(.jpg);
}

/* SECTION OUR TEAM */

.our-team {
    background: #F5F4FA;
}

.our-team h2 {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.our-team img {
    width: 270px;
    height: 260px;
    background: url(.jpg);
    border-radius: 0px
}

.name {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.position {

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* FOOTER */

footer {
    background-color: #27303a;
}

address {

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-text {
    color: #FFFFFF;
}

.link-touch {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-touch:hover,
.link-touch:focus {
    color: var(--accent-color);
}

.footer-first {
    color: #2196F3;
}

.footer-last {
    color: #ffffff;
}

ul>.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

/* SECOND PAGE STYLES */

/* SECTION GALERY */

.galery-progects {
    background: #E5E5E5;
}

.main,
.filter-nav {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.main {
    color: #ffffff;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-nav {
    color: var(--primery-text-color);
    background: #F5F4FA;
}

.main:hover,
.main:focus {
    color: var(--accent-color);
    background: #ffa500;
}

.filter-nav:hover,
.filter-nav:focus {
    color: var(--accent-color);
    background: #ffa500;
}
.link-site {
    text-decoration: none;
}

.conteiner {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.progects img {
    width: 370px;
    height: 294px;
    background: url(.jpg);
}

.progects h2 {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);

}

.progects p {

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

